@media screen and (min-width:992px) and (max-width:1024px) {
	.banner {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.block__flt__text--right {
		max-width: 100%;
		float: none;
		padding-top: 20px;
		text-align: center;
	}
	.block__icon--mw30 {
		width: 100%;
		text-align: center;
		display: block;
		max-width: 100%;
	}
	ul.list__none.list__left {
		padding-left: 45%;
	}
}
@media screen and (min-width:768px) and (max-width:992px) {
	.menu__full {
		display: block;
	}
	.menu__full .menu__item {
		width: 50%;
		display: block;
		float: left;
		text-align: center;
		padding: 5px;
	}
	.banner {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.menu__full .menu__item:last-child {
		width:100%;
		float:none;
		display:block;
	}
	ul.list__none.list__left {
		padding-left: 20%;
	}
	.one-fifth {
		width: 50%;
		float: left;
	}
	.block__icon--mw30 {
		max-width: 100%;
		text-align: center;
		display: block;
	}
	.block__flt__text--right {
		max-width: 100%;
		float: none;
		padding-top: 20px;
		text-align: center;
	}
	.block__flt__text--right p {
		text-align:justify;
	}

}
@media screen and (max-width:769px) {
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}
@media screen (width:768px) {
	.menu__full {
		display: block;
	}
	.menu__full .menu__item {
		width: 50%;
		display: block;
		float: left;
		text-align: center;
		padding: 5px;
	}
	.banner {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.menu__full .menu__item:last-child {
		width:100%;
		float:none;
		display:block;
	}
	
}
@media screen and (max-width:767px) {
	.menu__full {
		display: block;
	}
	.header__container .col-sm-6 {
		text-align: center;
		padding: 10px 0;
	}
	.header__social.text-right {
		margin-top: 0;
		text-align: center;
	}
	.menu__full .menu__item {
		width: 100%;
		display: block;
		float: left;
		text-align: center;
		padding: 5px;
	}
	.text__box--banner {
		border: 1px solid #bae6ff;
		padding: 20px;
		text-align: center;
		max-width: 340px;
		margin: 70px auto;
	}
	.banner {
		background: none;
	}

	.one-fifth {
		width: 100%;
		float: none;
	}
	.image__left {
		text-align: center;
		padding-right: 0;
	}
	ul.list__none.list__left {
		padding-left: 40px;
	}
	.image__right {
		text-align: center;
	}
	.footer__links {
		margin: 8px;
		text-align: center;
	}
	.footer__social.text-right {
		text-align: center;
	}
	.section__block.bg__light p.text-center.block__text {
		max-width: 480px;
		margin: auto;
		padding-bottom:20px;
	}
	.section__block.bg__light a.learn-more {
		margin-bottom: 30px !important;
		display: block;
		max-width: 111px;
		margin: auto;
	}
	.sm__mtop0 {
		margin-top:0;
	}
	.col-sm-6.sm-mbtm20 {
		margin: 20px 0;
	}
	.xs_img--small {
		max-width:150px;
	}
}
@media screen and (max-width:480px) {
	.sm__mtop0 {
		margin-top:0;
	}
	.block__icon--mw30 {
		max-width: 100%;
		display: block;
		text-align: center;
	}
	.block__flt__text--right {
		max-width: 100%;
		float: none;
		padding-top: 30px;
		text-align:center;
	}
	.block__flt__text--right p {
		text-align:justify;
	}
	.block__flt__text--right a.learn-more {
		width: 92px;
		display: block;
		margin: 20px auto;
	}
	.section__block {
		padding: 40px 0;
	}
	.section__block .section__title {
		margin: 0 0 20px 0;
	}
	.xs_img--small {
		max-width:150px;
	}
	.col-sm-6.sm-mbtm20 {
		margin: 0;
	}
}