/*Please enter your custom styling here for both pages*/
span.current > a {
	color:#b26670;
}

/*
@font-face {
   font-family: 'Zawgyi-One';
   src: url('../fonts/Zawgyi-One.eot');
   src: url('../fonts/Zawgyi-One.eot') format('embedded-opentype'),
        url('../fonts/Zawgyi-One.woff') format('woff'),
        url('../fonts/Zawgyi-One.ttf') format('truetype'),
        url('../fonts/Zawgyi-One.svg#Zawgyi-One') format('svg');
}


body.text__my ,body.text__my *,body.text__my table
{
	font-family: 'Zawgyi-One';
}
*/