.block__title {
    font-size: 18px;
    color: #9f0011;
	font-weight: 500;
}
.section__block.bg__light .section__title {
    color: #8e0807; /*#1f9aff*/
    font-weight: bold;
}
ul.list__none {
	list-style-type:none;
}
.list__item__type--light{
	background:url("../images/light_star.png") no-repeat center center;
	height:45px;
	width:45px;
}
.mtop20 {
	margin-top:20px;
}
.mtop30 {
	margin-top:30px;
}
.mtop60 {
	margin-top:60px;
}
.white {
	color:#fff;
}
.menu__full {
	display:flex;
	justify-content:space-between;
}
.menu__container {
	background-color:#000;
	color:#fff;
	padding:5px 0;
}
.header__container {
    padding: 5px 0;
	background:#f2f2f2;
}
.header__social.text-right {
    margin-top: 35px;
}
.banner {
	background:url("../images/home_banner.png");
}
.text__box--banner {
    border: 1px solid #c39da8; /*bae6ff*/
    padding: 20px;
    text-align: center;
    max-width: 500px;
    margin: 130px auto;
}
.text__box--banner .text{
	margin:0;
	font-weight:bold;
	color:#a20d0f; /*#1f9bff*/
	font-size:30px;
}
.full__text {
	background:#4d4d4d;
}
.full__text--text {
	font-family: Arial;
	color:#fff;
	margin:0;
	padding:30px 0;
	font-weight:bold;
}
.one-fifth {
    width: 20%;
    float: left;
}
.block__title > span {
	border-bottom:3px solid #808080;
	padding-bottom:4px;
}
a.learn-more {
    color: #fff;
    background: #a8000e; /*#2baae1*/
    padding: 5px 10px;
}
a.learn-more:hover {
	text-decoration:none;
	color:#cfcfcf;
}
p.text-center.block__text {
    text-align: justify;
    padding: 10px;
	margin-bottom:15px;
}
.section__block {
    padding: 60px 0;
}
.section__block .section__title {
    margin: 0 0 40px 0;
}
h3.text-center.block__title {
    margin-bottom: 25px;
}
.bg__dark {
	background:#57010e; 
	color:#fff;
}
.bg__dark .section__title {
	color:#fff;
}
.block__flt__text--right {
	max-width:70%;
	float:right;
	padding-top: 20px;
}
.block__icon--mw30 {
	max-width:30%;
}
.bg__img{
	background:url("../images/section_bg.png");
}
.footer__container {
	padding:40px 0;
	background-color:#210b0d;
}
.footer__links {
	margin-top: 8px;
}
.footer__copyright p {
	margin:0;
	padding:10px 0;
}
.footer__copyright {
	background-color:#000;
	color:#838383;
}
.footer__links a {
    color: #cdcdcd;
    text-decoration: none;
    margin-right: 10px;
}
.footer__links a:hover {
	color: #fff;
}
.image__left {
    text-align: right;
    padding-right: 60px;
}
span.star_text--holder {
    position: relative;
    top: 2px;
    margin-left: 10px;
}
ul.list__none.list__left {
    padding-left: 50%;
}
.menu__item a {
	color:#fff;
}
.menu__item a:hover{
	text-decoration:none;
	color:#b26670;
}
.section__block.bg__light.bg__img {
    color: #9f0011;
	font-weight:500;
	font-size:16px;
}
.section__block.bg__light {
	color: #9f0011;
	font-weight:500;
}
.section__block.bg__light p.text-center.block__text {
    text-align: justify;
    padding: 10px;
    margin-bottom: 15px;
    color: #333;
}
.block__container .text { margin-top:10px;}
